// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-action: #ED2530;
$font-color: #26364F;
$mondainai-background: #E6F5F3;

body {
  background-image: image-url("background-wave.svg") !important;
  background-repeat: repeat !important;
}
