<div class="d-flex justify-content-between align-items-end my-5 mx-3">
  <%= link_to "Back", items_path, class: "navbar-link" %>
  <%= link_to items_path do %>
    <%= image_tag("mondainai-logo.svg") %>
  <% end %>
  <a href="" class="navbar-link"></a>
</div>
