<div class="d-flex justify-content-between align-items-end mt-5 mb-3 mx-3">
  <%= link_to "Back", items_path, class: "navbar-link" %>
  <%= link_to items_path do %>
    <%= image_tag("mondainai-logo.svg") %>
  <% end %>
  <%= link_to "Messages", requests_path, class: "navbar-link text-end" %>
</div>
