<div class="d-flex flex-wrap justify-content-between m-3 row-gap-3">
  <% @items.each do |item| %>
    <a href="#" class="text-decoration-none">
      <div class="card rounded-4 overflow-hidden" style="width: 12rem;">
        <img src=" <%= item.photo %> " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.description %></p>
        </div>
      </div>
    </a>
  <% end %>
</div>
